script(src='https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.0.1/webcomponents-lite.js')
link(rel='import' href='/public/plugins/grafana-warp10-datasource/template/ace-editor.html')

query-editor-row.warp10-query(query-ctrl='ctrl' has-text-edit-mode='true')

  .gf-form-inline
    gf-form-switch.gf-form(label='Hide labels' checked='ctrl.target.hideLabels' on-change='ctrl.refresh()')
    gf-form-switch.gf-form.pull-right(label='WarpScript editor' checked='ctrl.advancedMode')
    button.btn.btn-secondary.full-height(ng-if='!ctrl.advancedMode' ng-click='ctrl._buildQuery()') Build query

  .gf-form-inline(ng-show='ctrl.advancedMode')
    ace-editor(theme='ace/theme/monokai' mode='ace/mode/warpscript' needupdate='{{ ctrl.updateAce }}')
      textarea(ng-model='ctrl.target.expr' ng-change='ctrl.onChangeInternal()')

  .gf-form-block(ng-show='!ctrl.advancedMode')

    h5 Fetch data
    .gf-form
      label.gf-form-label.width-10 Read Token
      input.gf-form-input(ng-model='ctrl.readToken')
    .gf-form-inline
      .gf-form(style='align-self: flex-start')
        label.gf-form-label.width-10 Metric name
        input.gf-form-input.width-10(ng-model='ctrl.className')

      .gf-form-block
        .gf-form-inline
          label.gf-form-label.width-6 Labels
          input.gf-form-input.width-10(placeholder='key' ng-model='ctrl.extraLabelKey')
          input.gf-form-input.width-10(placeholder='value' ng-model='ctrl.extraLabelValue')
          button.btn.btn-success.full-height(ng-click='ctrl._addLabel()')
            i.fa.fa-plus(aria-hidden='true')

        .gf-form-inline(style='justify-content: flex-end' ng-repeat='(key, val) in ctrl.labels')
          label.gf-form-label.width-10  {{ key }}
          label.gf-form-label.width-10 {{ val }}
          button.btn.btn-danger.full-height(ng-click='ctrl._delLabel(key)')
            i.fa.fa-trash(aria-hidden='true')
    h5 Down sampling
    .gf-form
      label.gf-form-label.width-10.query-keyword Bucketizer
      select(ng-model='ctrl.bucketizer')
        option(value='' selected) None
        option(ng-repeat='bucketizer in ctrl.bucketizers' ng-value="'bucketizer.{{ bucketizer }}'") {{ bucketizer }}

      label.gf-form-label Bucket count
      input.gf-form-input(type='number' step='10' min='10' max='3840' ng-model='ctrl.bucketCount')
    h5 Reduce
    .gf-form-inline
      .gf-form
        label.gf-form-label.width-10.query-keyword Reducer
        select(ng-model='ctrl.reducer')
          option(value='' selected) None
          option(ng-repeat='reducer in ctrl.reducers' ng-value="'reducer.{{ reducer }}'") {{ reducer }}
      .gf-form
        label.gf-form-label labels
        input.gf-form-input.width-10(placeholder='label' ng-model='ctrl.extraReducerLabel')
        button.btn.btn-success.full-height(ng-click='ctrl._addReducerLabel()')
          i.fa.fa-plus(aria-hidden='true')
    .gf-form-inline
      .gf-form(ng-repeat='label in ctrl.reducerLabels')
        label.gf-form-label {{ label }}
        button.btn.btn-danger.btn-small.full-height(ng-click='ctrl._delReducerLabel(label)')
          i.fa.fa-trash(aria-hidden='true')