h2.page-heading HTTP Address
.gf-form-group
  .gf-form-inline
    .gf-form
      span.gf-form-label.width-7 URL
      input.gf-form-input.width-30(ng-model='ctrl.current.url')
      info-popover(mode='right-absolute')
        | Do not append /api/v0/exec at the end of the URL
  .gf-form-inline
    .gf-form
      span.gf-form-label.width-7 Access
      .gf-form-select-wrapper.gf-form-select-wrapper--has-help-icon.width-30
        select.gf-form-input(ng-model='ctrl.current.access')
          option(label="direct" value="direct") direct
          option(label="proxy" value="proxy") proxy
        info-popover.gf-form-help-icon.gf-form-help-icon--right-absolute.drop-help.drop-hide-out-of-bounds.drop-target(mode='right-absolute')
          | Direct = url is used directly from browser
          | Proxy = Grafana backend will proxy the request

h2.page-heading.m-t-2 Constants
.grafana-info-box
  p.
    This constants can be used in every templating or query.
    Register your consant name and value and
    prefix your constant name with "$" in your queries/templating.
  p example: &nbsp;
    code $token

.gf-form-group
  h5 Add a constant
  .gf-form
    label.gf-form-label.width-6 Name
    input.gf-form-input.width-48(ng-model='ctrl.newExtraKey')
  .gf-form
    label.gf-form-label.width-6 Value
    textarea.gf-form-input(rows="10" ng-model='ctrl.newExtraVal' ng-keyup='$event.keycode == 13 && ctrl._addExtraVar()')
  button.btn.btn-success.full-height.width-6.offset-width-6(ng-click="ctrl._addExtraVar()") Add

  .m-t-2
    h5 Constant list
    .gf-form(ng-repeat="(key, val) in ctrl.current.jsonData")
      button.btn.btn-danger.full-height(ng-click="ctrl._delExtraVar(key)")
        i.fa.fa-trash(aria-hidden='true')
      a.btn.full-height(ng-click="ctrl._editKey(key)")
        i.fa.fa-pencil(aria-hidden='true')
      span.gf-form-label {{ key }}
      span.spaced-row.align-center
        i.fa.fa-angle-double-right(aria-hidden='true')
      span.gf-form-label {{ val }}

//h2.page-heading.m-t-2 Secrets (proxy mode required)
//.grafana-info-box(ng-if='ctrl.current.access === "proxy"')
  p.
    This secrets can be used in every templating or query.
    Register your consant name and value and
  p example: &nbsp;
    code(ng-non-bindable) {{token}}
//.gf-form-group
  .gf-form
    label.gf-form-label.width-6 Name
    input.gf-form-input.width-48(ng-model='ctrl.newSecretKey')
  .gf-form
    label.gf-form-label.width-6 Value
    textarea.gf-form-input(rows="10" ng-model='ctrl.newSecretVal' ng-keyup='$event.keycode == 13 && ctrl._addSecretVar()')
  button.btn.btn-success.full-height.width-6.offset-width-6(ng-click="ctrl._addSecretVar()") Add


  .m-t-2
    h5 Secret list
    pre
      code {{ctrl.current.secureJsonFields}}
    .gf-form(ng-repeat="(key, val) in ctrl.current.secureJsonFields", ng-if='val')
      button.btn.btn-danger.full-height(ng-click="ctrl._delSecretVar(key)")
        i.fa.fa-trash(aria-hidden='true')
      span.gf-form-label {{ key }}